<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
    <link href="c:\users\sebas\onedrive\escritorio\pruebascarnesdonfernando\carnesdonfernando\frontend\estilos\estilos_navbar.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!--a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FrontEnd</a-->
                <img class="" src="https://www.carnesdonfernando.com/wp-content/uploads/2020/07/logo_Don_fernando_sticky.png" />                       
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categoria" asp-action="Index">Categoria</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DetalleOrden" asp-action="Index">Detalle</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index">Producto</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MensajesContacto" asp-action="Index">MensajesContacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ingrediente" asp-action="Index">Ingredientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Receta" asp-action="Index">Recetas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Restaurante" asp-action="Index">Restaurante</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categoria" asp-action="Index">Categoria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MensajesContacto" asp-action="Index">Mensaje Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Local" asp-action="Index">Local</a>
                        </li>
                    </ul>
                </div-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav  mb-2 mb-lg-0 text-al">
                        <li class="nav-item" id="menuInicial">
                            <a id="" class="nav-link active itemNavbar" aria-current="page" href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/nosotros.xhtml">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown" id="menuInicial">
                            <a class="itemNavbar active nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-hover="dropdown">
                                Comprar
                            </a>
                            <ul class="dropdown-menu " style="background-color: #AD2022;" id="menuDrop" aria-labelledby="navbarDropdown">
                                <li><a class=" itemDropdown  text-center dropdown-item" href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/catalogo.xhtml?id=1">Corte de Res</a></li>
                                <li><a class="itemDropdown  text-center  dropdown-item " href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/catalogo.xhtml?id=3">Corte de Pollo</a></li>
                                <li><a class=" itemDropdown  text-center dropdown-item " href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/catalogo.xhtml?id=2">Corte de Cerdo</a></li>
                                <li><a class=" itemDropdown  text-center dropdown-item " href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/catalogo.xhtml?id=4">Productos Varios</a></li>
                            </ul>
                        </li>

                        <li class="nav-item" id="menuInicial">
                            <a class="itemNavbar active nav-link" id="" href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/catalogoInformativo.xhtml">Tiendas</a>
                        </li>
                        <li class="nav-item" id="menuInicial">
                            <a id="" class="itemNavbar nav-link active" aria-current="page" href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/contacto.xhtml">Contacto</a>
                        </li>
                        
                        <li class="nav-item" id="menuInicial">
                            <a id="" class="itemNavbar nav-link active" aria-current="page" href="http://localhost/proyectoPrograTres-1.0-SNAPSHOT/faces/restaurantes.xhtml">Restaurantes</a>
                        </li>
                    </ul>
                </div>
                    
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color:white; margin-right:15px;" width="25" height="25" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </div>
            
        </nav>
        
    </header>

 

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
