@model FrontEnd.Models.FacturaCarritoItemViewModelCompuesto

@{
    ViewData["Title"] = "Create";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<h1 class="display-4 text-center tituloPaginaIndex" style="margin-top: 200px;">Chequeo</h1>
<div class="container-fluid">
    <div class="row abs-center form-factura">
        <div class="row">
            <ul>
                <li>Por favor tomar en cuenta los horarios de su sucursal más cercana antes de realizar el pedido.</li>
                <li>Los pedidos en días feriados, festivos y domingos, serán entregados en el próximo día hábil.</li>
                <li>Las compras deberán ser superiores a los 25.000 colones para ser entregadas a domicilio de lo contrario la persona deberá retirarlo en el punto de venta de su preferencia. El servicio a domicilio cubre 8km a la redonda del establecimiento.</li>
                <li>En caso de que el cliente no retire su pedido en un máximo de 1 día hábil posterior a la realización de su orden el pedido será cancelado. Carnes Don Fernando no se responsabilizará por el incumplimiento en el retiro por parte del cliente. Motivo por el cual librará a Carnes Don Fernando de realizar devolución de dinero.</li>
            </ul>
        </div>
        <form asp-action="Create" id="formularioMio" method="post">
            <div class="col-md">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Factura.NombreUsuario" class="control-label"></label>
                            <input required asp-for="Factura.NombreUsuario" name="nombreUsuario" class="form-control" />
                            <span asp-validation-for="Factura.NombreUsuario" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group ">
                            <label asp-for="Factura.ApellidoUsuario" class="control-label"></label>
                            <input required asp-for="Factura.ApellidoUsuario" name="apellidoUsuario" class="form-control" />
                            <span asp-validation-for="Factura.ApellidoUsuario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Factura.CedulaUsuario" class="control-label"></label>
                    <input required asp-for="Factura.CedulaUsuario" class="form-control" name="cedulaUsuario" />
                    <span asp-validation-for="Factura.CedulaUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Factura.DireccionUsuario" class="control-label"></label>
                    <input required asp-for="Factura.DireccionUsuario" class="form-control" name="direccionUsuario" />
                    <span asp-validation-for="Factura.DireccionUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Factura.TelefonoUsuario" class="control-label"></label>
                    <input required asp-for="Factura.TelefonoUsuario" class="form-control" name="telefonoUsuario" />
                    <span asp-validation-for="Factura.TelefonoUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Factura.CorreoUsuario" class="control-label"></label>
                    <input required  asp-for="Factura.CorreoUsuario" class="form-control" name="correoUsuario"/>
                    <span asp-validation-for="Factura.CorreoUsuario" class="text-danger"></span>
                </div>
                <!--div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div-->

            </div>
            <div class="row" style="margin-top: 70px">
                <table class="tabla-final">
                    <tr class="tabla-precio">
                        <th>Concepto</th>
                        <th>Subtotal</th>
                    </tr>
                    @for (int i = 0; i < Model.CarritoItems.Count; i++)
                    {
                        <tr style="border-block-end: 1px solid; border-color: #E5E5E5; font-weight: normal">
                            <td>@Model.Producto[i].Nombre x<span>@Model.CarritoItems[i].Cantidad</span> </td>
                            <td>₡@Model.CarritoItems[i].Precio</td>
                        </tr>
                    }
                    <!--tr style="border-block-end: 1px solid; border-color: #E5E5E5; font-weight: normal">
                        <td>Carne molida x1</td>
                        <td>₡25,000</td>
                    </tr>
                    <tr style="border-block-end: 1px solid; border-color: #E5E5E5; font-weight: normal">
                        <td>Carne molida</td>
                        <td>₡25,000</td>
                    </tr-->
                    <tr>
                        <td class="tabla-precio">Total</td>
                        <td>₡@Model.Carrito.PrecioFinal</td>
                    </tr>
                </table>
            </div>
            <div class="shopping-cart-footer" style="margin-top: 50px; border-color: white">
                <div class="column">
                    <script>
                        var formularioMio = document.getElementById('formularioMio');
                        formularioMio.addEventListener('submit', function (event) {
                            event.preventDefault(); 
                            mostrarMensaje();
                        });
                        function mostrarMensaje() {
                            //event.preventDefault();
                            if (formularioMio.checkValidity()) {
                                Swal.fire({
                                    title: '¡Compra confirmada!',
                                    text: 'El pago se realiza cuando reciba el producto',
                                    icon: 'success',
                                    confirmButtonColor: '#AD2022',
                                    confirmButtonText: 'Entendido'
                                }).then(function () {
                                   // document.forms[0].submit();
                                    formularioMio.submit();
                                });
                            }                            
                        }
                    </script>
                    <input onclick="mostrarMensaje()" type="submit" value="Realizar el pedido" class="btn btnCatalogo" />
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
