@{
    ViewData["Title"] = "Unauthorized";
}

<h1 style="margin-top: 200px" class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="text-danger text-center">401 Unauthorized</h2>
                    <p class="text-center">No esta autorizado para acceder a esta funcion</p>
                    <p class="text-center">Inicie sesion como administrador</p>
                    @Html.ActionLink("Iniciar sesion", "Login", "Usuario",null, new { @class = "btnCatalogo btn align-content-center"})
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
