
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4 text-center tituloPaginaIndex" style="margin-top: 200px;">Nosotros</h1>
<div class="card bg-dark text-white row historiaPrincipal mx-auto">
    <img src="Imagenes/imgNosotros/historia.jpg" class=" imgNuestraHistoria"/>
    <div class="card-img-overlay text-center ">
        <div class="contenedorNosotros align-items-center">
            <h5 class="card-title tituloHistoria">Nuestra historia</h5>
            <p class="card-text" style="font-weight:normal; font-size: 17px">
                Don Fernando es una empresa familiar 100% costarricense dedicada a la producción de carne de res premium en armonía con el medio ambiente.
                Cuenta con más de 60 años de trayectoria liderando el sector cárnico a nivel nacional.
            </p>
        </div>
    </div>
</div>
<h1 class="display-4 text-center subtituloPaginaIndex subTituloNosotros">El vinculo de Don Fernando</h1>

<div class="container-fluid">
    <div class="row g-0 bg-light position-relative vinculoDonFer">

        <div class="col-md-6 p-4 ps-md-0">
            <p>
                Inició en la década de los 40 con Fernando Retana padre quien precisamente fundó en 1942, y de forma empírica,
                la Carnicería San Bosco ubicada en el Mercado Central de San José. De esta manera, complementó su pasión por las carnes con la ganadería.
            </p>

            <p>
                Posteriormente su hijo, Fernando Retana, continuó su legado al tomar la administración de la Carnicería San Bosco,
                consolidándola con la marca Carnes Retana. Es de esta manera como inicia el crecimiento de las carnicerías Retana en varios puntos de San José.
                Entre los principales sueños de Fernando Retana hijo era establecer una carnicería especializada tanto en cortes como en productos diferenciados
                que superaran las expectativas de los clientes.
            </p>


        </div>
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="Imagenes/imgNosotros/Group-86.jpg" class="w-100" style="max-width: 700px" />
        </div>
    </div>
</div>


<div class="card-group">
    <div class="card cardVision" style="background-color: #AD2022; border-radius:0px;">
        <div class="text-center">
            <img src="Imagenes/imgNosotros/vision.svg" class="card-img-top " style="max-width: 150px" />
        </div>
        <div class="card-body">
            <h5 class="card-title tituloVisionMision text-center">Vision</h5>
            <p class="card-text text-center textoVisionMision">Ser la empresa líder en innovación y sustentabilidad, del agronegocio de la carne bovina en Costa Rica.</p>
        </div>
    </div>
    <div class="card cardMision" style="background-color: #AD2022; border-radius:0px;">
        <div class="text-center">
            <img src="Imagenes/imgNosotros/mision.svg" class="card-img-top" style="max-width: 150px" />
        </div>
        <div class="card-body">
            <h5 class="card-title tituloVisionMision text-center">Mision</h5>
            <p class="card-text text-center textoVisionMision">
                Generar bienestar a nuestros clientes, colaboradores y sus familias a través de productos sanos e innovadores
                y del mejor servicio al cliente, conformando así un negocio que busca la excelencia para ser sustentable, rentable y socialmente
                responsable con la comunidad, el medio ambiente y sus accionistas.
            </p>
        </div>
    </div>

</div>

<h1 class="display-4 text-center subtituloPaginaIndex subTituloNosotros">
    Finca carbono neutral
</h1>
<div class="container-fluid">
    <div class="row g-0 bg-light position-relative vinculoDonFer">

        <div class="col-md-6 p-4 ps-md-0">
            <p>
                En el 2016, Ganadera Don Fernando recibió la certificación de Carbono Neutro por autocompensación, 
                convirtiéndose en la primera finca de engorde en recibir esta denominación en el país.
            </p>

            <p>
                De esta manera, se demostró al país y al mundo entero que la ganadería sí puede ir de la mano con el medio ambiente.
            </p>


        </div>
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="Imagenes/imgNosotros/finca-carbono-neutro.jpg" class="w-100" style="max-width: 700px" />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
  