@model FrontEnd.Models.MensajesContactoViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="display-4 text-center tituloPagina">Visitenos</h1>
<br />
<div class="container-fluid">
    <div class="row g-0 bg-light position-relative vinculoDonFer">

        <div class="col-md-6 p-4 ps-md-0 ">

            <div>
                <p class="" style="font-family: 'Overpass'; font-size:18px;">
                    <strong> Correo electronico: </strong>momentos@carnesdonfernando.com
                </p>
                <p class="" style="font-family: 'Overpass'; font-size:18px;">
                    <strong>Visite nuestros restaurantes y tiendas en: </strong>
                </p>
            </div>
            <div class="row g-0 bg-light position-relative vinculoDonFer">
                <div class="col" style="padding:0px; margin:0px">
                    <p class="" style="font-family: 'Overpass'; font-size: 18px; color: #AD2022">
                        <strong>Escazu </strong>
                    </p>
                    <p class="" style="font-family: 'Overpass'; font-size:18px; ">
                        2289-9165
                    </p>
                    <p class="" style="font-family: 'Overpass'; font-size: 18px; color: #AD2022">
                        <strong>Pinares </strong>
                    </p>
                    <p class="" style="font-family: 'Overpass'; font-size:18px;">
                        2271-3334
                    </p>
                </div>
                <div class="col" style="padding:0px; margin:0px">
                    <p class="" style="font-family: 'Overpass'; font-size: 18px; color: #AD2022">
                        <strong>Santa Ana </strong>
                    </p>
                    <p class="" style="font-family: 'Overpass'; font-size:18px;">
                        2582-1549
                    </p>
                    <p class="" style="font-family: 'Overpass'; font-size: 18px; color: #AD2022">
                        <strong>Heredia </strong>
                    </p>
                    <p class="" style="font-family: 'Overpass'; font-size:18px;">
                        2237-7750
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-md-0 p-md-4" style="background-color: #EBEBEB">
            
            <form asp-action="Create" id="formularioMio">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NombrePersona" class="control-label"></label>
                    <input asp-for="NombrePersona" class="form-control text-center" style="margin-bottom: 15px"/>
                    <span asp-validation-for="NombrePersona" class="text-danger msjError"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo"  class="control-label"></label>
                    <input asp-for="Correo"  required class="form-control text-center" style="margin-bottom: 15px" />
                    <span asp-validation-for="Correo" id="Correo-validation" class="text-danger msjError"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control text-center" style="margin-bottom: 15px" />
                    <span asp-validation-for="Telefono" class="text-danger msjError"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdLocal" class="control-label"></label>
                    <select asp-for="IdLocal" class="form-control text-center" style="margin-bottom: 15px" asp-items="@ViewBag.idLocal"></select>
                    <span asp-validation-for="IdLocal" class="text-danger msjError"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mensaje" class="control-label"></label>
                    <textarea asp-for="Mensaje" class="form-control " style="margin-bottom: 15px" ></textarea>
                    <span asp-validation-for="Mensaje"  class="text-danger msjError"></span>
                </div>
                <div class="form-group">
                    <input type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Enviar" class="btn btnCatalogo" />
                </div>
            </form>
            
        </div>
    </div>
   
</div>
@if (ViewBag.isConfirm is not null)
{
    if (ViewBag.isConfirm)
    {
        <div id="success-message" class="success-message hidden">
            <i class="fa fa-check-circle"></i>
            <span>¡Formulario enviado con éxito!</span>
        </div>
    }
    
}

<script>
    // Obtener el formulario y escuchar el evento de envío
   /* const form = document.querySelector('#formularioMio');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        // Si el formulario es válido, mostrar el mensaje de éxito
        if (form.checkValidity()) {
            const successMessage = document.querySelector('#success-message');
            successMessage.classList.add('show');
            setTimeout(() => {
                successMessage.classList.remove('show');
            }, 3000);
        }
    });*/  
    const correoInput = document.getElementById('Correo');
    const correoValidation = document.getElementById('Correo-validation');   
    document.querySelector('#formularioMio').addEventListener('submit', (event) => {
    
        if (formularioMio.checkValidity()) {
           
            //alert("Entro");
            const successMessage = document.querySelector('#success-message');
            successMessage.classList.add('show');
            setTimeout(() => {
                successMessage.classList.remove('show');
            }, 3000);
        }
    });


</script>



<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}